* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  line-height: 1;
}

.accordion {
  margin: 60px auto;
  padding: 10px;
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-top: 1px solid #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.number {
  font-size: 16px;
  font-weight: 500;
  color: #a9a9a9;
}

.text {
  font-size: 16px;
  color: #585858;
}

.icon {
  font-size: 24px;
  color: #585858;
}

.content {
  grid-column: 2;
  grid-row: 2;
  font-size: 15px;
  padding: 10px 0px;
  line-height: 1.4;
}

.close .content {
  display: none;
}

.open {
  border-top: 2px solid rgb(13, 143, 13);
}

.open .number,
.open .text {
  color: rgb(13, 143, 13);
}
